* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #040b2e;
  position: relative;
}

.lol-image {
  min-width: 1366px;
}

.lol-image-container {
  margin: 1rem;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
